<div class="container mt-5">
    <div class="grid">
        <div class="col">
            <p class="title-sub1"> โครงการ</p>
        </div>
        

    </div>
    <div class="grid">
        <div class="col"></div>
        <div class="col">
            <button pButton routerLink="/new/project" class="p-button-raised p-button-success text-button" style="float: right;">นำเข้าแผนโครงการ</button>
        </div>
    </div>
    <hr>
    <div class="grid mt-3">
        <div *ngFor="let project of projects" class="p-2 my-3 position-card col-4" >
          
                <p-card [header]="project.projectCode" [style]="{'width': '90%', 'margin-bottom': '2em'}" (click)="toDetailProject(project.id)">
                    <p class="inline-block">        {{ project.projectName}} </p>
                    <!-- <button pButton pRipple type="button" label="Danger" class="p-button-raised p-button-danger inline-block right-0"></button> -->
                </p-card>
            
        </div>
    </div>
    
    
</div>


<!-- <app-project-box></app-project-box> -->
