.box-container{
    border: 1px;
    text-align: center;
}

.search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }
  
  
  
  .search-icon .fa-search{
      position: relative;
      float: right;
      width: 75px !important;
      top: -39px;
      right: -38px;
      font-size: 30px;
  }