<div class="container mt-5">
    <div style="text-align: center; margin-bottom: 30px">
        <h1 class="title-sub1">ทรัพยากรทั้งหมด</h1>
    </div>
    
    <div class="grid mx-5 my-3">
        <!-- <div class="col-6">
            <div class="mb-3">
                <p class="title1">Position</p>
            </div>
            <div *ngIf="positionList">
                <div *ngFor="let position of positionList; let i =index" class="grid p-2 box-container mb-4">
                    <div class="col">{{ position.positionName}}</div>

                    <div class="col">
                        {{position.count}}
                    </div>

                </div>
            </div>
        </div> -->

        <!-- <form class="search-container">
                <input type="text" id="search-bar" placeholder="Search resource" (input)="onSearchChange()"
                    [(ngModel)]="searchText">
                <a href="#" class="search-icon">
                    <i class="fa fa-search"></i>
                </a>
            </form> -->

        <div class="col-4">
            <p class="inline title-sub2 mr-2">ค้นหา :</p>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="search" [(ngModel)]="searchText" pInputText placeholder="ใส่ชื่อเพื่อค้นหาทรัพยากร" width="100%">
            </span>
            
        </div>
        <div class="col-7">
            <span class="p-buttonset">
                <button pButton pRipple label="ทั้งหมด" (click)="searchText = 'all'" class="p-button-outlined p-button-help"></button>
                <button pButton pRipple label="มอบหมายแล้ว" class="p-button-outlined p-button-help" (click)="searchText = 'filassign'"></button>
                <button pButton pRipple label="ว่าง" (click)="searchText = 'filempty'" class="p-button-outlined p-button-help"></button>
                
            </span>
        </div>
        <div class="col-1">
            <button pButton routerLink="/newresource" style="right: 2px">New</button>
        </div>


        <!-- <div *ngIf="resources">
                <div *ngFor="let resource of resources" class="p-2 box-container mb-4" (click)="toDetailResource(resource.id)">
                   {{resource.prefix}} {{ resource.firstName}} {{" "}} {{resource.lastName}}
                </div>
            </div> -->



    </div>
    <!-- <div class="grid mt-3">
        <div *ngFor="let project of projects" class="p-2 my-3 position-card col-4" ></div></div> -->
        <hr>
    <div class="my-3 grid">
                
        <div *ngFor="let f of (resources | filterResource:searchText)as folder" class="p-2 box-container col-4"
            (click)="toDetailResource(f.id)">
            <p-card [style]="{'width': '100%', 'margin-bottom': '2em'}">
            <p>{{f.prefix + " "}}
                        {{f.firstName + " "}}
                        {{f.lastName}}</p>
                    {{f.position}}
            
                
                
            </p-card>


        </div>

        <div *ngIf="(resources | filterResource:searchText).length <1">
            Not Found
        </div>
    </div>

</div>

<!-- <button label="Submit" (click)="getAllResource()">submit</button> -->