<p-menubar [model]="items">
    <ng-template pTemplate="start">

        <!-- <img src="assets/images/cat-logo.jpg" height="40" class="mr-2" [routerLink]="['/home']"> -->
        <p [routerLink]="['/home']" class="mt-1 logo mx-2">PG Pool</p>
    </ng-template>
    <ng-template pTemplate="end">
        <div *ngIf="user;else other_content">
            <button type="button" pButton icon="pi pi-bars" [label]="user.username" (click)="menu.toggle($event)"
                class="p-button-secondary p-button-text"></button>
            <p-menu #menu [popup]="true" [model]="userItem"></p-menu>
            <!-- {{user.username}}
            <button pButton (click)="logout()"> Logout</button> -->
        </div>

        <ng-template #other_content>
            <div class="mr-3">
                <!-- <p (click)="toLogin()" class="inline login-text">Login</p> -->
                <button pButton pRipple type="button" label="Login" class="p-button-text p-button-plain"
                    (click)="toLogin()"></button>
                <button pButton (click)="toRegister()" class="ml-3 p-button-raised p-button-success">Register</button>
            </div>

            <!-- <button pButton (click)="toLogin()"> Login</button> -->
        </ng-template>

    </ng-template>
</p-menubar>