<div style="display: block;">
  <!-- <canvas baseChart width="200" height="200"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas> -->
  <!-- working ไม่ครบ 100 = ว่างจาก assigned -->
  <p-tabView>
    <p-tabPanel header="Year">
      <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
    </p-tabPanel>
    <p-tabPanel header="Month">
      <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
    </p-tabPanel>
</p-tabView>
  

</div>