<div style="display: block;">
  <!-- <canvas baseChart width="200" height="200"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas> -->
  <!-- working ไม่ครบ 100 = ว่างจาก assigned -->
  <p-tabView>
    <p-tabPanel header="Year">
      <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
    </p-tabPanel>
    <p-tabPanel header="Month">
      <div class="grid">
        <div class="col">
          <p-dropdown [options]="months" [(ngModel)]="selectedMonth" placeholder="Select a Month"(onChange)="onChangeDropdown($event)" [showClear]="true"></p-dropdown>
        </div>
      </div>
      <div class="grid">
        <div class="col">
          <p-chart type="line" [data]="lineChartDataMonth" [options]="lineChartOptions"></p-chart>
        </div>
      </div>
      
    </p-tabPanel>
</p-tabView>
  

</div>