<div class="container">
    <div class="my-5">
        <div>
            <p class="header-title">บุคลากรที่ว่าง</p>
        </div>
        <div *ngFor="let resource of resourcesEmpty" class="pl-3 mt-2 box">
            <p>{{resource.firstName + " "}}{{resource.lastName + " "}} ตำแหน่ง {{resource.position}}</p>
        </div>

    </div>
    <!-- <div>
        <p class="sub-header">โปรเจคที่มีการร้องขอบุคลากร</p>
        <div *ngFor="let project of projectRequest; let index = index" class="pl-3 mt-2 box">
            {{ project.projectName}} {{" "}} {{project.projectCode}}
            <div>
                <p>ตำแหน่งที่ต้องการ</p>
            </div>
            <div class="" *ngFor="let position of project.requests">
                <p>{{position.positionRequest}} ภายใน {{position.dateWithin | date}}</p>


                มีดู duration ของ resource แต่ละคนอยู่แล้ว
            </div>
            <h5>Assigned Resource</h5>
            <div *ngFor="let data of dataListResource">
                <div *ngIf="data.projectCode == project.projectCode">
                    <p-dropdown [options]="data.resourceL" placeholder="Select a Resource" optionLabel="label" [(ngModel)]="positionSelected[index]"
                        [showClear]="true"></p-dropdown>
                    <div class="grid">
                        <div class="col">
                            <h6>Start Date</h6>
                            <input pInput type="date" [(ngModel)]="startDateList[index]">
                        </div>
                        <div class="col">
                            <h6>End Date</h6>
                            <input pInput type="date"  [(ngModel)]="endDateList[index]">
                        </div>
                        <div class="col">
                            <h6>Duration</h6>
                            <input pInputText type="text"  [(ngModel)]="durationList[index]">
                        </div>
                        <div class="col">
                            <h6>Assigned</h6>
                            <input pInputText type="text"  [(ngModel)]="assignList[index]">
                        </div>
                        <div class="col">
                            <button type="button" pButton pRipple (click)="addResource(project.id, index)"
                                label="add" class="p-button-success mb-2" [(ngModel)]="positionSelected"></button>
                        </div>
                    </div>

                    <br>


                    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="selectedCountry">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" />
                            <div>{{selectedCountry.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div>

            </div>
        </div>
    </div> -->
</div>