.box-member {
    border-radius: 10px;
    background-color: rgb(24, 22, 150);
    color: white;
    height: 3rem;
    padding-bottom: 1%;
    margin: 10px;
}

.graph{
    width: 60%;
    height: 50%;
    margin: auto;
}

.my-center-text {
    text-align: center;
    // width: 100%;
}


.title-sub1{
    font-size: 1.5vw;
    font-family: 'Anuphan', sans-serif;
}

.mouse-pointer{
    cursor: pointer;
}