<div class="m-5 align-items-center">
  <h2>New Resource</h2>
<form [formGroup]="resourceForm">
  <div class="grid ">
    <div class="col-2">
      Emp No
     <div class="col-4">
   </div>
      <input type="text" pInputText formControlName="empNo" />
      <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
        <em class="pi pi-times-circle"></em> Field is required.
      </small> -->
    </div>
  </div>
  <div class="grid ">
    <div class="col-2">
      Prefix
     <div class="col-4">
   </div>
      <input type="text" pInputText formControlName="prefix" />
      <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
        <em class="pi pi-times-circle"></em> Field is required.
      </small> -->
    </div>
  </div>
  <div class="grid ">
    <div class="col-2">
      Firstname
     <div class="col-4">
   </div>
      <input type="text" pInputText formControlName="firstName" />
      <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
        <em class="pi pi-times-circle"></em> Field is required.
      </small> -->
    </div>
  </div>
    <div class="grid">
      <div class="col-2">
        Lastname
       <div class="col-4">
     </div>
        <input type="text" pInputText formControlName="lastName" />
        <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
          <em class="pi pi-times-circle"></em> Field is required.
        </small> -->
      </div>
    </div>
    <div class="grid">
        <div class="col-2">
          Telephone
         <div class="col-4">
       </div>
          <input type="text" pInputText formControlName="tel" />
          <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
            <em class="pi pi-times-circle"></em> Field is required.
          </small> -->
        </div>
      </div>
      <div class="grid">
        <div class="col-2">
          Email
         <div class="col-4">
       </div>
          <input type="text" pInputText formControlName="empEmail" />
          <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
            <em class="pi pi-times-circle"></em> Field is required.
          </small> -->
        </div>
      </div>
      <div class="grid">
        <div class="col-2">
          Position
         <div class="col-4">
       </div>
          <input type="text" pInputText formControlName="position" />
          <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
            <em class="pi pi-times-circle"></em> Field is required.
          </small> -->
        </div>
      </div>
      <div class="grid">
        <div class="col-2">
          Hiredate
         <div class="col-4">
       </div>
          <input type="date" pInputText formControlName="hireDate" />
          <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
            <em class="pi pi-times-circle"></em> Field is required.
          </small> -->
        </div>
      </div>
      <div class="grid">
        <div class="col-2">
          Expire Date
         <div class="col-4">
       </div>
          <input type="date" pInputText formControlName="expireDate" />
          <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
            <em class="pi pi-times-circle"></em> Field is required.
          </small> -->
        </div>
      </div>
    <div class="grid">

      <div class="col-1">

        <button pButton pRipple label="Save" (click)="onSubmit()">Add </button>

      </div>
    </div>
  </form>
</div>
