<div class="container mt-3">

  <div class="grid mt-5 box-content">
    <div class="col">
      <p-image src="https://i.pinimg.com/564x/db/01/a0/db01a048d27a7fa574d8d25095583766.jpg" alt="Image" width="100%">
      </p-image>

    </div>
    <div class="col my-5 mx-2">
      <p class="header-content">Login</p>
      <form [formGroup]="loginForm">
        <!-- <div class="grid">
                    <div class="col-2">
                      Lastname
                     <div class="col-4">
                   </div>
                      <input type="text" pInputText formControlName="lastName" />
                      <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
                        <em class="pi pi-times-circle"></em> Field is required.
                      </small>
                    </div>
                  </div> -->
        <div class="grid mt-5">
          <div class="col">
            <p class="header-label">Username</p>
            <div class="p-inputgroup">

              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText formControlName="username" placeholder="Username" />
            </div>
            <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
                      <em class="pi pi-times-circle"></em> Field is required.
                    </small> -->
          </div>
        </div>
        <div class="grid mt-3">
          <div class="col">
            <p class="header-label">Password</p>
            <div class="p-inputgroup">

              <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
              <input type="password" pInputText formControlName="password" placeholder="Password" />
            </div>


            <!-- <small *ngIf="resourceForm.get('lastName')?.invalid" id="lastName-help" class="p-error block">
                      <em class="pi pi-times-circle"></em> Field is required.
                    </small> -->
          </div>
        </div>


        <div class="grid mt-5">

          <div class="col-1">

            <button pButton pRipple (click)="onSubmit()">Login </button>

          </div>
        </div>
      </form>


    </div>
  </div>
</div>